# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Docker
.docker/
docker-compose.override.yml

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.docker

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
data/
db_data/